/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28.02.2018, 12:49:06
    Author     : geizzo
*/

.margin {
    margin-bottom: 1em;
}

#Anschrift {
    font-size: 1.7em;
}